VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51TwUHT15V1MLn6Z95NFMRyBEEiriec4tNOkz2pvq5uxqAsCAs6moqjK4Q4Qyj8WrP0ufD1hVdMTxMdOuSIyUthsI000jZHLJL5
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
GROQ_API_KEY=
OPENROUTER_API_KEY=
ADMIN_EMAILS=davifernandes0024509@gmail.com
